<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <nav>
        <li>
            <a href="/all-users/">All Users</a>
        </li>
        <li>
            <a href="/user-form/">Get User</a>
        </li>
        <li>
            <a href="/user-registrationForm/">Register User</a>
        </li>
        <li>
            <a href="/user-deleteForm/">Delete User</a>
        </li>
            
            
       
    </nav>

    <main>
        <h1>
            ADMIN HOME PAGE
        </h1>

        <p>This an example created by Sebastian Avendaño Rodriguez <br>
            Here I created an example of a CRUD Admin system for the admin module of the project <br>
            <hr>
            TECNOLOGIES
            <li>
                MySQL for DB
            </li>
            <li>
                Java with maven and the project framework it's Spring
            </li>
        </p>
    </main>
</body>
</html>