<!DOCTYPE html>
<html lang="en" xmlns="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Get</title>
</head>
<body>
    <nav>
        <li>
            <a href="/Home">HOME</a>
        </li>
    </nav>
    <main>
        <h1>FIND USER SYSTEM</h1>

        <!-- Formulario para enviar un usuario -->
        <form th:action="@{/user/}" method="post" th:object="${user}">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username"/>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" />
            </div>

            <div>
                <label for="password">Password Confirmation:</label>
                <input type="password" id="password" name="passwordConfirmation" />
            </div>

            <!-- Agrega más campos según sea necesario -->
            <button type="submit">Enviar</button>
        </form>

        <p><th:text="${error}"></th:text></p>
        
    </main>
</body>
</html>