<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
</head>
<body>
    <nav>
        <a href="/Home"></a>
    </nav>

    <main>
        <h1>ALL USERS - admin module -</h1>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th>Number</th>
                    <th>Register Date</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${user}">
                    <td th:text="${user.id}">Id</td>
                    <td th:text="${user.name}">Name</td>
                    <td th:text="${user.surname}">Surname</td>
                    <td th:text="${user.email}">Email</td>
                    <td th:text="${user.number}">Number</td>
                    <td th:text="${user.register_date}">Register Date</td>
                </tr>
            </tbody>
        </table>

        <form action="/user-delete/" method="POST">
            <label for="username">User name: </label>
            <input type="text" name="username">

            <label for="delete">User ID:</label>
            <input type="number" name="delete">
            
            <input type="submit">
        </form>

        <p><th:text="${error}"></th:text></p>
    </main>
</body>
</html>